@import "tailwindcss";


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

:root {
  color-scheme: light;
}

html.dark .cl-card,
html.dark [data-clerk-theme="dark"] .cl-card,
html.dark .cl-userButtonPopoverCard {
  background-color: #091413 !important;
}


html.dark .cl-formButtonPrimary {
  background-color: #90caf9 !important;
  color: #000000 !important;
}